:root {
  --heavy-gray: #262c35;
  --primary-gray: #323945;
  --medium-gray: #3a4352;
  --secondary-gray: #4b5567;
  --glow: rgba(123, 104, 238, 0.5);
}

.App-header {
  background-color: var(--heavy-gray);
  border-bottom: 1px solid var(--secondary-gray);
  display: flex;
  justify-content: center;
  padding: 4px;
  color: white;
  font-size: 16px;
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.App-body {
  margin-top: 29px;
}

.App-link {
  color: #61dafb;
}
