
.App-header {
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  padding: 4px;
  color: white;
  font-size: 16px;
}

.App-body {
  background-color: #323945;
}

.App-link {
  color: #61dafb;
}
