/* Variables */

:root {
  --heavy-gray: #262c35;
  --primary-gray: #323945;
  --medium-gray: #3a4352;
  --secondary-gray: #4b5567;
  --glow: rgba(123, 104, 238, 0.5);
}

/* Defaults */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-gray);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  height: fit-content;
  border: none;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  color: white;
}
button:hover {
  cursor: pointer;
}

input {
  color: white;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
}
input {
  background-color: var(--medium-gray);
  padding: 12px 24px;
  border: 1px solid mediumslateblue;
  border-radius: 10px;
}
input:focus {
  background-color: var(--secondary-gray);
  outline: none;
}
input.glow:focus {
  box-shadow: 0 0 10px var(--glow);
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);;
}

select {
  color: white;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
}
select {
  background-color: var(--medium-gray);
  padding: 12px 24px;
  border: 1px solid mediumslateblue;
  border-radius: 10px;
}
select:focus {
  background-color: var(--secondary-gray);
  outline: none;
}
select.glow:focus {
  box-shadow: 0 0 10px var(--glow);
}

li.selected {
  color: mediumslateblue;
  border-bottom: 2px solid mediumslateblue;
}

/* Classes */
.backend-status {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.sidebar {
  background-color: var(--heavy-gray);
  border-right: 1px solid var(--secondary-gray);
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
}

.content-dashboard {
  margin-left: 180px;
  padding: 48px 48px;
}

.content-server {
  padding: 48px 48px;
}

button.primary {
  background-color: mediumslateblue;
  padding: 16px 24px;
  border-radius: 10px;
  font-size: 16px;
}
button.primary:active {
  background-color: slateblue;
}

button.secondary {
  background-color: var(--secondary-gray);
  border-radius: 10px;
  font-size: 16px;
  padding: 16px 24px;
}
button.secondary:active {
  background-color: var(--medium-gray);
}

button.subtle {
  padding: 8px 24px;
  border-radius: 10px;
  font-size: 16px;
}

button.primary-subtle {
  background-color: mediumslateblue;
  padding: 8px 24px;
  border-radius: 10px;
  font-size: 16px;
}
button.primary-subtle:active {
  background-color: slateblue;
}

button.primary-icon {
  background-color: var(--primary-gray);
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 16px;
  align-items: center;
}
button.primary-icon:active {
  background-color: var(--heavy-gray);
}

button.secondary-icon {
  background-color: var(--secondary-gray);
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 16px;
  align-items: center;
}
button.secondary-icon:active {
  background-color: var(--medium-gray);
}

button.game {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 16px;
  gap: 8px;
  width: 180px;
  height: 60px;
  color: white;
}
button.game:hover {
  background-color: var(--medium-gray);
}
button.game.selected {
  background-color: var(--secondary-gray);
  border-left: 6px solid mediumslateblue;
}
button.game p {
  width: 100%;
}

button.start {
  background-color: limegreen;
  padding: 16px 0;
  width: 150px;
  border-radius: 10px;
  font-size: 24px;
  border: 2px solid lime;
}
button.start:hover {
  background-color: rgb(39, 161, 39);
}

button.stop {
  background-color: crimson;
  padding: 16px 0;
  width: 150px;
  border-radius: 10px;
  font-size: 24px;
  border: 2px solid red;
}
button.stop:hover {
  background-color: rgb(180, 17, 49);
}

button.kill {
  background-color: var(--medium-gray);
  padding: 16px 0;
  width: 150px;
  border-radius: 10px;
  font-size: 24px;
  border: 2px solid var(--secondary-gray);
}
button.kill:hover {
  background-color: var(--primary-gray);
}

button.icon {
  background-color: transparent;
  font-weight: normal;
  font-size: 12px;
}

.header-servers {
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: bold;
}
.header-servers div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  max-width: 800px;
}

.search-server {
  width: 100%;
}

.container-servers {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.server-card {
  border: 1px solid var(--secondary-gray);
  width: 256px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
.server-card:hover {
  border: 1px solid mediumslateblue;
  box-shadow: 0 0 10px var(--glow);
  cursor: pointer;
  scale: 1.05;
}
.server-card img {
  display: block;
  width: 256px;
  height: 256px;
  border-bottom: 4px solid mediumslateblue;
}
.card-header {
  background-color: var(--heavy-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 64px;
  font-size: 16px;
  font-weight: bold;
}

.container-button-horizontal {
  display: flex;
}

.status-indicator {
  background-color: red;
  box-shadow: 0 0 10px rgb(255, 0, 0);
  width: 12px;
  height: 12px;
  min-width: 12px;
  min-height: 12px;
  border-radius: 50%;
}

.status-indicator.online{
  background-color: lime;
  box-shadow: 0 0 10px rgb(0, 255, 0);
}

.modal {
  background-color: var(--secondary-gray);
  overflow: hidden;
  width: 800px;
  max-width: 80%;
  max-height: 90%;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  height: 48px;
  font-size: 24px;
  font-weight: bold;
}

.modal form {
  background-color: var(--primary-gray);
  margin: 0 12px 12px 12px;
  border-radius: 5px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px;
  font-weight: bold;
}

.close {
  background-color: transparent;
  padding: 0 8px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 32px;
}

.loading-container {
  display: flex;
  align-items: center;
  margin: 9px;
  gap: 16px;
}
.loading-spinner{
  border-radius: 50%;
  animation: loading 0.6s linear infinite;
}
.loading-spinner.small {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-top-color: mediumslateblue;
}
.loading-spinner.medium {
  width: 41px;
  height: 41px;
  border: 4px solid rgba(0, 0, 0, 0.4);
  border-top-color: mediumslateblue;
}
.loading-spinner.large {
  width: 70px;
  height: 70px;
  border: 6px solid rgba(0, 0, 0, 0.4);
  border-top-color: mediumslateblue;
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

.loading-text.medium {
  font-size: 24px;
}
.loading-text.large {
  font-size: 48px;
}

.alert {
  background-color: var(--secondary-gray);
  position: fixed;
  /* bottom: 100px; */
  left: 50%;
  transform: translateX(-50%);
  padding: 16px 24px;
  max-width: 500px;
  border-radius: 10px;
  z-index: 2;
  animation: send-alert 5s ease-in-out;
}
.alert.error {
  background-color: lightpink;
  color: firebrick;
  border: 1px solid firebrick;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  font-weight: bold;
}
.alert.success {
  background-color: palegreen;
  color: seagreen;
  border: 1px solid seagreen;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  font-weight: bold;
}
@keyframes send-alert {
  0% {
    opacity: 0;
    bottom: 80px;
  }

  5% {
    opacity: 1;
    bottom: 100px;
  }

  95% {
    opacity: 1;
    bottom: 100px;
  }

  100% {
    opacity: 0;
    bottom: 120px;
  }
}

.tabs {
  margin: 0 10%;
}
.tab-labels {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 32px;
}
.tab-labels li{
  padding: 8px 0;
  width: 150px;
  font-weight: bold;
  text-align: center;
}
.tab-labels li:hover:not(.selected){
  cursor: pointer;
  background-color: var(--medium-gray);
  border-radius: 10px;
}

.tab-container {
  background-color: var(--heavy-gray);
  border: 1px solid var(--secondary-gray);
  display: flex;
  justify-content: space-around;
  margin: 16px 0;
  padding:16px;
  border-radius: 10px;
}

.tab-button-container {
  display: flex;
  justify-content: center;
  margin: 16px 0;
  gap: 32px;
}

div.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 8px;
}
.info label {
  font-weight: bold;
}

.console {
  border: 1px solid var(--secondary-gray);
  border-radius: 10px;
  overflow: hidden;
}
.console-log {
  background-color: #0b0d0f;
  color: mediumslateblue;
  height: 400px;
  padding: 8px 24px;
  overflow-y: auto;
}
.console-input {
  background-color: var(--medium-gray);
  width: 100%;
  border: none;
  border-radius: 0;
}
.console-input:focus {
  background-color: var(--medium-gray);
  width: 100%;
}

.file-editor {
  border: 1px solid var(--secondary-gray);
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
.file-nav {
  background-color: var(--heavy-gray);
  width: 40%;
  border-right: 1px solid var(--secondary-gray);
}
.file-nav-header {
  background-color: var(--heavy-gray); 
  border-bottom: 1px solid var(--secondary-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 8px;
}
.file-nav-content {
  overflow: auto;
  height: 500px;
  padding: 8px;
}
.file-editor form {
  background-color: var(--medium-gray);
  width: 100%;
}
.file-text {
  background-color: var(--medium-gray);
  color: white;
  width: stretch;
  height: 500px;
  padding: 8px;
  resize: none;
  border: none;
  vertical-align: text-top;
}
.file-text:focus {
  outline: none;
}
.file-text-header {
  background-color: var(--heavy-gray);
  border-bottom: 1px solid var(--secondary-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 16px;
}
.file-text-header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  border-radius: 5px;
}
.file-item p {
  width: stretch;
}
.file-item:hover {
  background-color: var(--medium-gray);
  cursor: pointer;
}
.file-item:hover button{
  color: white;
}

.file-item button{
  color: transparent;
}
.file-item button:hover {
  color: red;
}

.confirmation-modal {
  width: 400px;
}
.confirmation-container {
  background-color: var(--primary-gray);
  justify-content: center;
  margin: 0 12px 12px 12px;
  padding: 16px;
  gap: 32px;
  border-radius: 5px;
}
.confirmation-container p{
  text-align: center;
  margin-bottom: 32px;
}
.confirmation-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button.yes {
  background-color: var(--secondary-gray);
}
button.yes:active {
  background-color: var(--medium-gray);
}

button.no {
  background-color: crimson;
}
button.no:active {
  background-color: rgb(180, 17, 49);
}
